# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Secrets - VERY IMPORTANT
credentials_iot.json
*.env
.env

# Other
*.local